* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #828282;
    transition: 0.2s ease-out;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
}

address {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

/* Header */

.header {
    background-color: #E5E5E5;
    color: #333333;
    justify-content: flex-start;
    font-size: 14px;
}

.nav__container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 17px 0px 16px 0px;
    color: #333333;
}

.nav__link {
    margin: 0px 15px;
    color: #000000;
    white-space: nowrap;
}

/* Second Header */

.second-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.second-header__logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.second-header__picture {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    transition: 0.2s;
}

.second-header__beauty {
    font-size: 36px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 21px;
    font-family: 'Roboto', sans-serif;
}

.input {
    width: 250px;
    height: 40px;
    margin-left: 172px;
    padding: 0px 10px 0px 45px;
    background: #EFEFEF;
    border-radius: 40px;
    margin-top: 21px;
    border: 0px;
    background-image: url("../pictures/search.png");
    background-repeat: no-repeat;
    background-position: 20px 10px;
}

.second-header__call {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.number {
    min-width: 130px;
    height: 25px;
    margin-left: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 33px;
}

/* Third Header */

.third-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button {
    margin-left: 40px;
    flex-shrink: 1;
    width: 170px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #F13C6E;
    color: #000000;
    box-sizing: border-box;
    border-radius: 40px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 21px;
    transition: 0.2s ease-out;
}

.second-header__link {
    margin: 20px 20px 30px 20px;
    color: #000000
}

/* Intro */

.intro {
    background-image: url("../pictures/intro.png");
    background-position: center center;
    background-size: cover;
}

.button-intro {
    width: 170px;
    height: 40px;
    margin-bottom: 173px;
    background: #F13C6E;
    border: 2px solid #fff;
    color: #fff;
    box-sizing: border-box;
    border-radius: 40px;

}

.intro__title {
    padding-top: 192px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.description {
    color: #FFFFFF;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
    max-width: 350px;
}

/* Section */

section {
    background-color: #E5E5E5;
    padding-top: 80px;
}

/* Special Promotion */

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
}

.special-promotion-title {
    padding-bottom: 38px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.item-flex {
    display: flex;
    flex-direction: column;
}

.item {
    display: block;
    background-color: #fff;
    width: 255px;
    height: 373px;
    transition: 0.1s ease-out;
    margin: 0px 15px;
    margin-bottom: 30px;
}

section .item {
    min-width: 255px;
}

.chair {
    margin: 25px 0px 20px 0px;
    align-self: center;
    max-width: 125px;
}

.buy-button {
    align-self: center;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    background: #F13C6E;
    color: #fff;
    margin-bottom: 25px;
}

.price {
    margin: 20px 0px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.chair__description {
    align-self: center;
}

/* Newsletter and Shop Map */

.newsletter,
.shops {
    display: block;
    min-width: 540px;
    height: 212px;
    background-color: #F13C6E;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    margin-bottom: 25px;
}

#flex-container__newsletter__shops {
    margin: 70px 0px;
    flex-wrap: nowrap;
}

.newsletter__input {
    width: 225px;
    height: 35px;
    background: #fff;
    border-radius: 30px;
    border: 0;
    margin: 25px 0px 35px;
    padding: 0px 25px;
}

.shops__button {
    width: 170px;
    height: 35px;
    background: #F13C6E;
    border: 2px solid #fff;
    color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 25px 0px 35px;
}


.newsletter__description,
.shops__description {
    color: #fff;
    flex-direction: column;
    margin: 0px 40px;
    white-space: nowrap;
}

h5 {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 21px;
}

.logo-email {
    max-width: 140px;
    max-height: 123px;
    margin: 52.73px 45px 52.73px 0px;
}

.logo-shops {
    max-width: 188.67px;
    max-height: 100px;
    margin: 56px 45.33px 56px 0px;
}

/* Companies */

#flex-container__impuls {
    background: #fff;
    flex-wrap: wrap;
}

.impuls {
    width: 149px;
    height: 49px;
    padding: 35px 60px;
}

/* Watched Recently */

#watched-recently {
    margin-top: 80px;
}

#watched-recently__container {
    padding-bottom: 80px;
}

/* Footer */

footer {
    background: #fff;
}

hr {
    margin-bottom: 30px;
    width: 255px;
    height: 0px;
    border: 1px solid #EFEFEF;
}

li {
    list-style-type: none;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.popular-categories-title {
    font-size: 16px;
    line-height: 140.62%;
    margin-bottom: 30px;
    color: #000000;
}

.address {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.social-network-container {
    display: flex;
}

.social-network__link {
    width: 45px;
    height: 45px;
    margin: 10px;
    display: block;
}

#social-network__link__fb {
    background: url("../pictures/fb.png") no-repeat;
    background-size: 45px;
    margin-left: 0px;
}

#social-network__link__fb:hover {
    background: url("../pictures/fb-hover.png") no-repeat;
    background-size: 45px;
    margin-left: 0px;
}

#social-network__link__vk {
    background: url("../pictures/vk.png") no-repeat;
    background-size: 45px;
}

#social-network__link__vk:hover {
    background: url("../pictures/vk-hover.png") no-repeat;
    background-size: 45px;
}

#social-network__link__yt {
    background: url("../pictures/yt.png") no-repeat;
    background-size: 45px;
}

#social-network__link__yt:hover {
    background: url("../pictures/yt-hover.png") no-repeat;
    background-size: 45px;
}

#social-network__link__inst {
    background: url("../pictures/inst.png") no-repeat;
    background-size: 45px;
    margin-right: 10px;
}

#social-network__link__inst:hover {
    background: url("../pictures/inst-hover.png") no-repeat;
    background-size: 45px;
    margin-right: 10px;
}

.footer-nav,
.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    margin-bottom: auto;
    align-items: baseline;
    padding-bottom: 15px;
}

.contact-info>.number {
    margin-top: 0;
    padding-top: 0;
}

.contact-info>.button {
    margin-top: 0;
    padding-top: 0;
}

/* Additional Information */

.additional-information {
    background: #E5E5E5;
}

.copyright-and-policy {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    background: #E5E5E5;
}

.copyright-and-policy__item {
    padding: 25px 0px 25px 0px;
}

#policy {
    text-align: right;
}

/* Animations/Design */

a:hover {
    color: #F13C6E;
}

.button:hover {
    background-color: #F13C6E;
    color: #fff;
}

.buy-button,
.button-intro,
.shops__button {
    transition: 0.2s ease-out;
}

.buy-button:hover,
.button-intro:hover,
.shops__button:hover {
    transform: scale(1.05);
}

section .item:hover {
    box-shadow:
        1px 1px #F13C6E,
        2px 2px #F13C6E,
        3px 3px #F13C6E,
        4px 4px #F13C6E,
        5px 5px #F13C6E;
    transform: translateX(-5px);
}

button:active,
.button:active {
    background-color: rgb(219, 57, 103);
    color: rgba(255, 255, 255, 0.904)
}

a:active {
    color: rgb(219, 57, 103);
}

.buy-button,
.button,
.social-network__link,
.button-intro,
.shops__button,
#policy {
    cursor: pointer;
}

.second-header__picture:hover {
    transform: rotate(45deg);
    transition: 0.2s;
}

/* Responsive Media Queries */

@media only screen and (max-width: 1520px) {

    .third-header,
    .footer-nav {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1320px) {

    section,
    footer,
    .copyright-and-policy {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 1142px) {

    .flex-container {
        flex-wrap: wrap;
    }

    hr {
        width: 150px;
    }

    footer .item {
        width: 200px;
    }

    h3 {
        text-align: center;
    }

    .intro__title,
    .description,
    .button-intro {
        margin-left: 150px;
    }

    .input {
        margin-left: 150px;
    }

    #flex-container__newsletter__shops {
        flex-wrap: wrap;
    }

    .shops, .newsletter {
        min-width: 400px;
    }

    .logo-email, .logo-shops {
        display: none;
    }

    section .item:last-child {
        display: none;
    }
}

@media only screen and (max-width: 960px) {

    .shops, .newsletter {
        min-width: 540px;
    }

    section .item:last-child {
        display: block;
    }

    .logo-email, .logo-shops {
        display: block;
    }

    .footer-nav {
        justify-content: center;
    }

    .contact-info {
        justify-content: center;
    }

    #policy {
        text-align: right;
        margin-left: 10px;
    }

    .input {
        margin-left: auto;
    }

    .second-header__logo {
        margin: 0px 20px;
    }

    section .item {
        min-width: 200px;
        width: 255px;
    }

    .intro__title,
    .description {
        margin-left: 150px;
    }
    .button-intro {
        margin-left: 139px;
    }

    span {
        padding: 3px 0;
        line-height: 1.45;
        background: rgba(241, 60, 110, .6);
        box-shadow: 10px 0 rgba(241, 60, 110, .6), -10px 0 rgba(241, 60, 110, .6);
    }
}

@media only screen and (max-width: 590px) {
    
    section .item {
        flex-grow: 1;
    }
}

@media only screen and (max-width: 560px) {

    .second-header__picture {
        display: none;
    }

    .intro__title,
    .description,
    .button-intro {
        margin-left: 20px;
    }

    .second-header__beauty {
        font-size: 40px;
        margin-left: 0px;
    }

    .intro__title,
    .description {
        margin-left: 50px;
    }

    .button-intro {
        margin-left: 50px;
    }

    #policy {
        margin-left: 10px;
    }

    .impuls {
        padding: 35px 30px;
    }

    .logo-email,
    .logo-shops {
        display: none;
    }

    .number {
        margin-left: 40px;
    }

    hr {
        width: 200px;
    }

    .contact-info {
        flex-wrap: wrap;
    }

    .second-header__logo {
        margin-bottom: 20px;
    }

    .second-header__call .button {
        flex-shrink: 1;
    }

    .shops__description,
    .newsletter__description {
        margin-left: 40px;
    }

    .nav__link {
        font-size: 11px;
        margin: 0 10px;
    }

    .button {
        width: 145px;
    }

    .social-network-container {
        margin-bottom: 10px;
    }

    .address {
        margin: 0px 20px;
    }

    .input {
        margin: auto;
    }

    .number,
    .button {
        margin-left: 10px;
        margin-right: 10px;
    }

    .intro__title {
        font-size: 45px;
    }

    .intro {
        background-position: 1100px;
    }

    .copyright-and-policy__item {
        font-size: 10px;
    }

    .newsletter,
    .shops {
        min-width: 290px;
        width: 512px;
    }

    .button-intro {
        margin-left: 40px;
    }
}

@media only screen and (max-width: 360px) {

    .second-header__call .button,
    .third-header .number {
        margin-left: 10px;
    }

    .nav__link {
        margin: 0 7px;
    }

    .shops__description,
    .newsletter__description {
        margin-left: 20px;
        white-space: normal;
        font-size: 13px;
    }

    .additional-information {
        display: none;
    }
}